{% extends 'base.html' %}
{% block content %}
    {{ super() }}
    <style>
        .content-block .text p, .content-block .imgage .other_text p {
            margin: 0;
            line-height: 2em;
            margin-inline: auto;
            padding: 50px;
            color: #ccc;
        }

        .content-block .text {
            background: #161616;
        }

        .content-block .other_text {
            margin-right: 0;
        }

        .content-block .imgage {
            background-image: url("/static/img/author.png");
        }

        .author_span {
            color: white;
        }
    </style>
    <div class="content-block">
        <!--<div class="imgage">
            <div class="other_text">
                <br><br>
                <p>
                    <span class="author_span">Евгений Степин</span>
                </p>
                <br><br>
            </div>
        </div>-->
        <div class="text">
            <br><br>
            <p>
                Welcome to my site.
                <br><br>
                Here I share my thoughts, impressions and what is happening in my life.
                You can read about my adventures, hobbies, interesting events and much more.
                I'd love to see your comments and ratings, so feel free to share your thoughts.
                Let's create a cozy community here where everyone will find something interesting for themselves.
                <br><br>
                Thank you for visiting my site, you will definitely like it here!
            </p>
            <br><br>
        </div>
    </div>
{% endblock %}