{% extends "base.html" %}

{% block content %}
{{ super() }}
<style>
  .list-posts {
    width: 50%
    display: flexbox;
    position: absolute;
    align-items: flex-start;
  }
  .todo-list {
    width: 50%;
    display: flexbox;
    position: absolute;
    margin-left: 50%;
  }
  #hz:hover {
    color: red;
  }
</style>

<h2> Список постов </h2>
<hr>

<ul class="list-posts">
  {% for p in posts %}
  <li>
    <p class="title"><a href="{{ url_for('showPost', id_post=p.id) }}" > {{ p.title }}</a> <strong>{{ p.time }}</strong></p>
    <p class="annonce"> {{ p.text[:50]}}</p>
    <p><a href="{{url_for('post_edit', id_post=p.id)}}">Редактировать</a></p>
    <p><a href="{{ url_for('delpost_page', id_post=p.id) }}" >Удалить</a></p>
  </li>
  {% endfor %}
</ul>
<ol class="todo-list">
  <h2>TODO</h2>
  {% if todo %}
    {% for do in todo %}
      <li>
        <p><a href="{{url_for('deltodo', id_todo=do.id)}}" style="text-decoration: none;"><span id="hz">{{do.text}}</span></a></p>
      </li>
    {% endfor %}
  {% endif %}
  <form method="post">
    <p><input name="text" type="text" placeholder="Текст"></p>
    <button type="submit">Добавить</button>
  </form>
</ol>
{% endblock %}