{% extends "base.html" %}

{% block content %}
{{ super() }}
<style>
    body {
      margin: 0;
      padding: 0;
      width: 100%;
    }
    .list-posts {
        width: 50%;
        display: flexbox;
        position: absolute;
        align-items: flex-start;
    }
    ul.list-posts li {
        overflow: hidden;
        width: auto;
    }
    .todo-list {
        width: 50%;
        display: flexbox;
        position: absolute;
        overflow: auto;
        margin-left: 40%;

    }
    #hz:hover {
        color: red;
    }
</style>
<ul class="list-posts">
  {% for p in posts %}
  <li>
    <p class="title" style="font-size:30px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><a href="{{ url_for('showPost', id_post=p.id) }}" style="text-decoration: none;">{{ p.title }}</a> | <strong>{{ p.time }}</strong></p>
    {% if p.text[50] %}
      <p class="annonce" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">{{ p.text[:50]}}...</p>
    {% else %}
      <p class="annonce" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">{{ p.text[:50]}}</p>
    {% endif %}
    <p><a href="{{url_for('post_edit', id_post=p.id)}}" style="color: #9FCC56; border: 1px skyblue solid; border-radius: 2px; padding: 5px; font-size:20px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-decoration: none;">Редактировать</a></p>
    <p><a href="{{url_for('delpost_page', id_post=p.id)}}" style="color: red; border: 1px skyblue solid; border-radius: 2px; padding: 5px; font-size:20px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-decoration: none;">Удалить</a></p>
  </li>
  {% endfor %}
  </ul>
<ol class="todo-list">
  <h2>TODO</h2>
  {% if todo %}
    {% for do in todo %}
      <li>
        <p><a href="{{url_for('deltodo', id_todo=do.id)}}" style="text-decoration: none;"><span id="hz">{{do.text}}</span></a></p>
      </li>
    {% endfor %}
  {% endif %}
  <form method="post">
    <p><input name="text" type="text" placeholder="Текст"></p>
    <button type="submit">Добавить</button>
  </form>
</ol>
<div id="footer-block">
  <hr>
    <footer style="text-align: center; height: 40px; padding-top: 5px; padding-bottom: 5px;">
        &copy; 2023 <a href="https://github.com/dodik337">Степин Е.А.</a>
    </footer>
</div>
{% endblock %}