{% extends "base.html" %}
{% block content %}
{{ super() }}
    <style>
        h1 {
            margin: 25px;
            margin-left: 50px;
            color: mediumpurple;
            text-shadow: 2px 2px 20px rebeccapurple;
            font-family: "Arial Black";
        }
        .post-text {
            max-width: 100%;
            overflow: auto;
            margin: 50px;
            font-size: 16px;
            font-family: "Arial Black";
            color: #6161c9;
            max-height: 100px;
            margin-bottom: 10px;
            margin-top: 10px;
        }
        .post-text-noimg {
            max-width: 100%;
            overflow: auto;
            margin: 50px;
            font-size: 16px;
            font-family: "Arial Black";
            color: #6161c9;
            max-height: 280px;
        }
        .post-image {
            margin-left: 50px;
            max-width: 350px;
            max-height: 240px;
        }
        .comment-add {
            margin-left: 50px;
        }
        .comments {
            list-style-type: none;
            margin-left: 50px;
        }
        .comment {
            list-style-type: none;
            width: 40%;
            padding: 10px;
            border-radius: 5px;
        }
        .content-block {
            display: flex;
            min-height: 455.33333px;
        }
        .post-info {
            max-width: 100%;
        }
        .post-text a {
            color: grey;
            text-decoration: none;
        }
        .post-text a:hover {
            text-decoration: underline;
            color: royalblue;
        }
        .post-text-noimg a {
            color: grey;
            text-decoration: none;
        }
        .post-text-noimg a:hover {
            text-decoration: underline;
            color: royalblue;
        }
        .other {
            max-width: 350px;
            max-height: 240px;
        }
    </style>
    <div class="content-block">
        <div class="post-info">
            {% if post_image %}
                <h1>{{ post_title }}</h1>
                <p class="post-text">{{ post }}</p>
                <div class="post-image">
                    <img src="{{ url_for('display_image_by_name', post_name=post_title) }}" class="other">
                </div>
            {% else %}
                <h1>{{ post_title }}</h1>
                <p class="post-text-noimg">{{ post }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}