{% extends 'base.html' %}
{% block content %}
{{ super() }}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
        section {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            width: 100%;
            background: url('/static/img/background6.jpg')no-repeat;
            background-position: center;
            background-size: cover;
            font-family: 'poppins',sans-serif;
        }

        .form-box{
            display: flex;
            /**border: 2px solid rgba(255,255,255,0.5);**/
            border-radius: 20px;
            justify-content: center;
            align-items: center;
            width: 400px;
            height: 450px;
            overflow: hidden;
            position: relative;
        }

        .form-box::before {
            content: '';
            position: absolute;
            width: 700px;
            height: 700px;
            background-image: conic-gradient(transparent, transparent, white, white);
            animation: rotate 2s linear infinite;
        }

        .form-box::after {
            content: '';
            position: absolute;
            width: 700px;
            height: 700px;
            background-image: conic-gradient(transparent, transparent, mediumpurple, mediumpurple);
            animation: rotate 2s linear infinite;
            animation-delay: -1s;
        }

        .form-value {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            inset: 5px;
            background: #161620;
            z-index: 1;
            border-radius: 20px;
        }

        h2 {
            font-size: 2em;
            color: #fff;
            text-align: center;
        }

        .inputbox {
           position: relative;
           margin-bottom: 40px;
        }
        .inputbox input {
           display: block;
           width: 100%;
           padding: 0 10px;
           line-height: 40px;
           font-family: 'Roboto', sans-serif;
           background: none;
           border-width: 0;
           border-bottom: 2px solid #4a90e2;
           transition: all 0.2s ease;
        }
        .inputbox label {
           position: absolute;
           left: 13px;
           color: #9d959d;
           font-size: 20px;
           font-weight: 300;
           transform: translateY(-35px);
           transition: all 0.2s ease;
        }
        .inputbox input:focus {
           outline: 0;
           border-color: #F77A52;
        }
        .inputbox input:focus+label, .inputbox input:valid+label {
           transform: translateY(-60px);
           margin-left: -14px;
           font-size: 14px;
           font-weight: 400;
           outline: 0;
           border-color: #F77A52;
           color: #F77A52;
        }

        .inputbox ion-icon{
            position: absolute;
            right: -10px;
            color: #fff;
            font-size: 1.4em;
            top: 12px;
        }

        button {
            width: 100%;
            height: 40px;
            border-radius: 40px;
            background: #fff;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 1em;
            font-weight: 600;
        }

        footer{
            display: none;
        }

        @keyframes rotate {
            from {
                transform: rotate(0);
            }
            to {
                transform: rotate(360deg);
            }
        }

        .button-1 {
            color: #232323;
            background: transparent;
            border: 1px solid #232323;
            position: relative;
            font-size: 14px;
            letter-spacing: .3em;
            font-family: 'Montserrat', sans-serif;
            padding: 17px 34px 17px 39px;
            transition: .2s ease-in-out;
            cursor: pointer;
            border-radius: 20px;
        }
        .button-1:before {
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            width: 100%;
            height: 100%;
            background: white;
            border-radius: 20px;
            z-index: -1;
            transition: .25s ease;
            transform: translate(0, 0);
        }
        .button-1:hover:before {
            transform: translate(4px, 4px);
        }
    </style>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="{{ url_for('confirm_email', login=session['userlogged']) }}" method="post">
                    <h2>Confirm your email</h2>
                    <p style="width: 300px; color: white">Notice: If you don't find the message, check folder 'Spam'</p>
                    <div class="inputbox">
                        <ion-icon name="person-circle-outline"></ion-icon>
                        <input required autocomplete="off" id="input" type="text" name="code" pattern="[1-0]">
                        <label for="input">Confirming code</label>
                    </div>
                    <button class="button-1" type="submit">Confirm</button>
                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock %}