{% extends "base.html" %}
{% block content %}
{{ super() }}
    <style>
        body {
            max-height: 100vh;
        }
        .list-posts {
            list-style-type: none;
            max-width: 100%;
            margin: 0;
        }
        .list-posts li {
            overflow: hidden;
            font-weight: bold;
        }
        .buttons {
            margin-left: 50%;
            transform: translate(0, 135%);
        }
        .buttons p {
            display: inline-block;
            border: 1px black solid;
            color: white;
            padding: 8px;
        }
        .content-block {
            height: 455.333333px;
        }
    </style>
    <div class="content-block">
        <div class="container">
            <div style="display: flex; flex-direction: column; align-items: center;">
                <h2>О чем сайт?</h2>
                <p>Этот сайт создан как <a href="https://github.com/dodik337" style="text-decoration: none; color: grey;">мой</a> личный блог</p>
                <em>А также из за скуки)</em>
            </div>
        </div>
        <ul class="list-posts">
            {% for p in posts %}
                <li>
                <p class="title" style="font-size:30px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><a href="{{ url_for('showPost', id_post=p.id) }}" style="text-decoration: none; color: black;">{{ p.title }}</a> <strong style="font-size: 15px; color: black;">{{ p.time }}</strong></p>
                {% if p.text[50] %}
                  <p class="annonce" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">{{ p.text[:50]}}...</p>
                {% else %}
                  <p class="annonce" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">{{ p.text[:50]}}</p>
                {% endif %}
                </li>
            {% endfor %}
        </ul>
        <div class="buttons">
            {% if page - 1 == -1 %}

            {% elif page - 1 == 0 %}
                <a href="{{ url_for('start_page') }}"><p class="arrow_left"><-</p></a>
            {% else %}
                <a href="{{ url_for('post_page', page=page - 1) }}"><p class="arrow_left"><-</p></a>
            {% endif %}
            <a href="{{ url_for('post_page', page=page + 1, last_id=1) }}"><p class="arrow_right">-></p></a>
        </div>
    </div>
{% endblock %}