{% extends "base.html" %}

{% block content %}
{{ super() }}
<style>
    .container {
        margin-top: 154px;
    }
</style>
<div class="container">
    <div style="display: flex; flex-direction: row; justify-content: space-around; padding: 10px;">
        <div style="padding: 4px; width: 30%; overflow: auto;">
            <h2>О чем сайт?</h2>
            <p>Этот сайт создан как <a href="https://github.com/dodik337" style="text-decoration: none;">мой</a> личный блог</p>
            <em>А также из за скуки)</em>
        </div>
    </div>
</div>
{% endblock %}