{% extends 'base.html' %}
{% block content %}
    {{super()}}
    <style>
    </style>
    <div class="content-block">
        <div>
            <form method="post" class='form-contact'>
                Название статьи: {{post.title}} - <input type="text" name="title" value="" required><br>
                Текст статьи: {{post.text}} <br>
                    <textarea name="text" rows="7" cols="40"></textarea> <br>
                Фото статьи: <br>
                    {{post.photo}}
                    <input type="text" name="photo" value=""> <br>
                <input type="submit" value="Добавить">
            </form>
        </div>
    </div>
{% endblock %}