{% extends 'base.html' %}
{% block content %}
{{super()}}
    <style>
        .post {
            padding: 20px;
            width: 500px;
            margin-left: 50%;
            transform: translate(-50%);
            text-align: center;
        }
        .form-contact h2 {
            color: white;
        }
        .form-contact .other {
            width: 400px;
            margin: auto 20px auto 20px;
        }
        .form-contact textarea {
            margin: auto 20px auto 20px;
            max-width: 400px;
            max-height: 220px;
            width: 400px;
        }
    </style>
    <div class="content-block">
        <div class="post">
            <form action="{{url_for('post')}}" method="post" class='form-contact'>
                <h2>Написание статьи</h2>
                <p><input class="other" placeholder="Название статьи" type="text" name="name" value="" required></p>
                <p><textarea placeholder="Текст" name="post" rows="7" cols="40"></textarea></p>
                <p><input class="other" type="file" name="photo"></p>
                <p><input class="other" type="submit" value="Добавить"></p>
            </form>
        </div>
    </div>
{% endblock %}