{% extends 'base.html' %}
{% block content %}
{{ super() }}
    <style>
        .content-block {
            height: 455.333333px;
        }
    </style>
    <div class="content-block">
        <form action="{{url_for('profile_reg')}}" method="post" class='form-contact'>
            Создание профиля
            <p><label> Имя: <input type="text" name="name" value="" required></label></p>
            <p><label> Возраст: <input type="text" name="age" value="" required></label></p>
            <p><label> О себе: <input type="text" name="game" value="" required></label></p>
            <p><input type="submit" value="Создать"></p>
        </form>
    </div>
{% endblock %}