{% extends 'base.html' %}
{% block content %}
{{ super() }}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
        section{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            width: 100%;
            background: url('/static/img/background6.jpg')no-repeat;
            background-position: center;
            background-size: cover;
            font-family: 'poppins',sans-serif;
        }

        .form-box{
            position: relative;
            width: 400px;
            height: 450px;
            background: transparent;
            border: 2px solid rgba(255,255,255,0.5);
            border-radius: 20px;
            backdrop-filter: blur(15px);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h2{
            font-size: 2em;
            color: #fff;
            text-align: center;
        }

        .inputbox{
            position: relative;
            margin: 30px 0;
            width: 310px;
            border-bottom: 2px solid #fff;
        }

        .inputbox label{
            position: absolute;
            left: 5px;
            transform: translateY(-50%);
            color: #fff;
            font-size: 1em;
            pointer-events: none;
            transition: .5s;
            top: -5px;
        }

        .inputbox input {
            width: 100%;
            height: 50px;
            background: transparent;
            border: none;
            outline: none;
            font-size: 1em;
            padding:0 35px 0 5px;
            color: #fff;
        }

        .inputbox ion-icon{
            position: absolute;
            right: 8px;
            color: #fff;
            font-size: 1.2em;
            top: 20px;
        }

        button{
            width: 100%;
            height: 40px;
            border-radius: 40px;
            background: #fff;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 1em;
            font-weight: 600;
        }

        footer{
            display: none;
        }

        #paragraph {
            display: none;
        }
        .send_email{
            text-decoration: none;
            color: #fff;
        }
        .send_email:hover{
            text-decoration: underline;
            color: royalblue;
        }
    </style>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="{{ url_for('reset_password', login=login) }}" method="post">
                    <h2>Reset password</h2>
                    <a class="send_email" href="{{ url_for('reset_code_send', login=login) }}" onclick="this.style.display='none'; document.getElementById('paragraph').style.display='block';">Send code</a>
                    <p id="paragraph" style="font-size: 14px;">Message was send to {{ email[0:2] }}********{{ email[-10:] }}</p>
                    <div class="inputbox">
                        <ion-icon name="person-circle-outline"></ion-icon>
                        <input placeholder="Reset code" type="text" name="code">
                        <label></label>
                    </div>
                    <button type="submit">Reset password</button>
                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock %}