{% extends 'base.html' %}
{% block content %}
    {{ super() }}
    <style>
        *, *:after, *:before {
           box-sizing: border-box;
           transition: .5s ease-in-out;
        }
        .container ul {
           list-style: none;
        }
        .container a {
           text-decoration: none;
           outline: none;
        }
        .container img {
           display: block;
           width: 100%;
        }
        body {
           font-family: 'Open Sans', arial, sans-serif;
           font-size: 14px;
           line-height: 1;
           color: #373737;
        }
        header:after, .container:after, footer:after, .widget-posts-list li:after {
           content: "";
           display: table;
           clear: both;
        }
        .container {
           margin: 0 auto;
           width: 100%;
           max-width: 960px;
        }
        .posts-list {
           margin-bottom: 30px;
           float: left;
        }
        .post {
           margin-bottom: 35px;
        }
        .post-content p {
           line-height: 1.5;
           padding-bottom: 1em;
        }
        .post-image {
           margin-bottom: 30px;
        }
        .category a {
           color: #F8B763;
           text-transform: uppercase;
        }
        .post-title {
           margin-bottom: 12px;
           font-size: 26px;
        }
        .post-footer {
           border-top: 1px solid #EBEBE3;
           border-bottom: 1px solid #EBEBE3;
           position: relative;
           margin-top: 15px;
        }
        .more-link {
           position: relative;
           display: inline-block;
           font-size: 10px;
           text-transform: uppercase;
           color: white;
           line-height: 44px;
           padding: 0 22px;
           background: #3C3D41;
           letter-spacing: 0.1em;
           white-space: nowrap;
        }
        .more-link:after {
           content: '';
           display: block;
           position: absolute;
           width: 0;
           height: 0;
           top: 0;
           right: 0;
           border: solid transparent;
           border-width: 22px 18px;
           border-left-color: #3C3D41;
           transform: translateX(100%);
        }
    </style>
    <div style="margin: 0 auto; width: 100%; max-width: 960px; font-size: 20px; padding: 16px;">
        <p>Search request "{{ text }}"</p>
    </div>
    {% for p in posts %}
        <div class="container">
            <div class="posts-list">
                <article id="post-1" class="post">
                    <div class="post-image"><img src="{{ url_for('display_image_by_name', post_name=p.title) }}"></div>
                    <div class="post-content">
                        <h2 class="post-title">{{ p.title }}</h2>
                        <div class="post-footer">
                            <a class="more-link" href="{{ url_for('showPost', id_post=p.id) }}">Read</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    {% endfor %}
{% endblock %}