{% extends 'base.html' %}
{% block content %}
    {{ super() }}
    <style>
        .content-block {
            background: whitesmoke;
        }
        .password_change {
            display: flex;
            flex-direction: column;
            width: 200px;
        }
        .password {
            display: flex;
            flex-direction: column;
        }
        .email {
            display: flex;
            flex-direction: column;
        }
        .all-in {
            display: flex;
            padding: 25px 25px 25px 25px;
            flex-direction: row;
            align-items: center;
            max-width: 100%;
            justify-content: space-around;
        }
        .all-in input:disabled {
            background: #a8a8a8;
        }
        .all-in form {
            margin-right: 50px;
            border-radius: 20px;
            padding: 12px;
            background: lightgrey;
        }
        .avatar {
            display: flex;
            flex-direction: column;
            width: 250px;
        }
        .avatar img {
            border-radius: 50%;
            text-align: center;
            margin-left: 25px;
            margin-bottom: 10px;
            border: 4px #a8a8a8 solid;
            padding: 6px;
        }
        .upload, .upload a {
            display: flex;
            width: 250px;
            flex-direction: column;
        }
        #login {
            cursor: not-allowed;
        }
        .profile .stats {
            display: flex;
            flex-direction: column;
        }
        .titles {
            text-align: center;
            font-size: 20px;
        }
        #btn_apply:disabled, #submit:disabled, #email:disabled {
            cursor: not-allowed;
        }
        .delete {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .delete_btns {
            cursor: pointer;
            text-decoration: none;
            color: black;
            font-size: 16px;
            font-weight: bold;
        }
        #confirm_deleting p:hover {
            color: black;
            cursor: text;
        }
        #confirm_deleting:hover {
            color: black;
            cursor: default;
        }
        .delete_btns:hover {
            color: royalblue;
            text-decoration: underline;
        }
        .custom-file-upload {
            border: 1px solid #ccc;
            border-radius: 20px;
            display: inline-block;
            padding: 6px 12px;
            background: #dcdcdc;
            cursor: pointer;
            text-align: center;
        }
        .custom-file-upload:hover {
            color: royalblue;
        }
        .password input, .password_change label, .profile .stats input, .avatar label,
        .profile label, .email input, .email a label, .email div {
            margin: 5px;
            cursor: default;
        }
        
        @media (max-width: 1199px) {
            .all-in {
                display: flex;
                flex-direction: column;
                margin-inline: auto;
            }
            .all-in form {
                margin-top: 20px;
            }
        }
    </style>
    <div class="content-block">
        <div class="all-in">
            <form class="prf_inf" action="{{ url_for('profile') }}" method="post" enctype="multipart/form-data">
                <h2 class="titles">Profile</h2>
                <div class="profile">
                    {% for n in prof %}
                        <div class="stats">
                            <input class="custom-file-upload" id="login" type="text" disabled value="{{ session['userlogged'] }}" title="login">
                            <input class="custom-file-upload" id="input1" name="nick" type="text" disabled placeholder="Nick" value="{{n.nick}}" title="nick">
                            <input class="custom-file-upload" id="input2" name="name" type="text" disabled placeholder="Name" value="{{n.name}}" title="name">
                            <input class="custom-file-upload" id="input3" name="age" type="number" disabled placeholder="Age" value="{{n.age}}" title="age">
                            <input class="custom-file-upload" id="input4" name="about" type="text" disabled placeholder="About" value="{{n.about}}" title="about">
                        </div>
                        <label class="custom-file-upload">
                            <input style="display: none;" type="button" onclick="document.getElementById('submit').disabled=false; this.disabled=true; document.getElementById('input1').disabled=false; document.getElementById('input2').disabled=false; document.getElementById('input3').disabled=false; document.getElementById('input4').disabled=false;">
                            <ion-icon name="pencil"></ion-icon> Change
                        </label>
                        <label class="custom-file-upload" aria-disabled="true">
                            <input style="display: none;" id="submit" disabled type="submit">
                            <ion-icon name="add"></ion-icon> Submit
                        </label>
                    {% endfor %}
                </div>
            </form>
            <form class="prf_av" action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
                <h2 class="titles">Profile avatar</h2>
                <div class="avatar">
                    {% if ava %}
                        <div class="avatar">
                            <img src="{{ url_for('userava', username=session['userlogged']) }}" height="200" width="200">
                        </div>
                    {% else %}
                        <div class="avatar">
                            <img src="{{ url_for('userava', username='static') }}" height="200" width="200">
                        </div>
                    {% endif %}
                    <div class="upload">
                        <label class="custom-file-upload">
                            <input style="display: none;" type="file" name="file">
                            <ion-icon name="cloud-upload"></ion-icon> Upload
                        </label>
                        <label class="custom-file-upload">
                            <input style="display: none;" type="submit">
                            <ion-icon name="add"></ion-icon> Sumbit
                        </label>
                        {% if ava %}
                            <a style="text-decoration: none; color: black;" href="{{ url_for('userava_delete', filename=session['userlogged']) }}">
                                <label class="custom-file-upload">
                                    <input style="display: none;" type="button">
                                    <ion-icon name="trash"></ion-icon> Delete avatar
                                </label>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </form>
            <form class="psw_chn" action="{{ url_for('password') }}" method="post" enctype="multipart/form-data">
                <h2 class="titles">Password change</h2>
                <div class="password_change">
                    <div class="password">
                        <input class="custom-file-upload" id="password" placeholder="Current password" type="password" name="cur_psw">
                        <input class="custom-file-upload" id="password" placeholder="New password" type="password" name="psw">
                        <input class="custom-file-upload" id="password" placeholder="Confirm password" type="password" name="psw2">
                    </div>
                    <label class="custom-file-upload">
                        <input style="display: none" type="submit">
                        <ion-icon name="key"></ion-icon> Update
                    </label>
                </div>
            </form>
            <form class="eml_reg" action="{{ url_for('email') }}" method="post" enctype="multipart/form-data">
                <div class="email_reg">
                    <h2 class="titles">Account email</h2>
                    <div class="email">
                        <input class="custom-file-upload" name="email" id="email" value="{{ email }}" type="email" placeholder="Email" disabled>
                        <div style="display: flex; flex-direction: row">
                            <label class="custom-file-upload">
                                <input style="display: none" id="btn_email" type="button" onclick="document.getElementById('email').disabled=false; this.disabled=true; document.getElementById('btn_apply').disabled=false">
                                <ion-icon name="pencil"></ion-icon> Change
                            </label>
                            <label class="custom-file-upload">
                                <input style="display: none" id="btn_apply" type="submit" disabled onclick="document.getElementById('email').disabled=false;">
                                <ion-icon name="add"></ion-icon> Submit
                            </label>
                        </div>
                        {% if email_status == 'unconfirmed' %}
                            <a style="text-decoration: none; color: black;" href="{{ url_for('confirm_email_sending', login=session['userlogged']) }}">
                                <label class="custom-file-upload">
                                    <input style="display: none" type="button">
                                    <ion-icon name="checkmark"></ion-icon> Confirm Email
                                </label>
                            </a>
                        {% else %}
                        {% endif %}
                    </div>
                </div>
                <div class="del_acc">
                    <h2 class="titles">Delete account</h2>
                    <div class="delete">
                        <div class="custom-file-upload" id="confirm_deleting" style="display: none;">
                            <p>Are you sure about that?</p>
                            <a class="delete_btns" href="{{ url_for('delete_account', login=session['userlogged']) }}">Yes</a> <a class="delete_btns" onclick="document.getElementById('confirm_deleting').style.display='none'; document.getElementById('delete').style.display='block';">No</a>
                        </div>
                        <a class="delete" id="delete" onclick="document.getElementById('confirm_deleting').style.display='inline-block'; document.getElementById('delete').style.display='none';">
                            <label class="custom-file-upload">
                                <input style="display: none;" type="button">
                                <ion-icon name="close"></ion-icon> Delete account
                            </label>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}