{% extends "base.html" %}

{% block content %}
{{ super() }}
<style>
    h1 {
    margin: 25px;
    }
    .update-text {
    margin: 50px;
    }
    .update-image {
        margin-left: 50px;
    }
    .likes {
        background-color: lightgreen;
        width: 20px;
        position: fixed;
        margin-left: 60px;
        text-align: center;
    }
    .dislikes {
        background-color: tomato;
        width: 20px;
        position: fixed;
        margin-left: 100px;
        text-align: center;
    }
    .image.like {
        margin-left: 20px;
        position: fixed;
        padding: 5px;
    }
    .image.dislike {
        margin-left: 120px;
        position: fixed;
        padding: 5px;
    }
</style>
    <h1>{{ update_title }}</h1>
    <hr>
    <p class="update-text">{{ update_text }}</p>
    {% if update_image %}
        <img src="{{ update_image }}" width="auto" height="auto" class="update-image">
    {% endif %}

<div id="footer-block">
  <hr>
    <footer style="text-align: center; height: 40px; padding-top: 5px; padding-bottom: 5px;">
        &copy; 2023 <a href="https://github.com/dodik337">Степин Е.А.</a>
    </footer>
</div>
{% endblock %}